# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data (too large for git)
data/
data_eurosat_test/
*.zip

# Model weights
*.pth
*.pt
